*{
    margin: 0;
    padding: 0;
}

.forms-overlay-container{

    position: absolute;

    .form-bg-blur-animation{
        animation: 0.8s ease 0s 1 normal forwards running blurFormBackground;
    }

    .form-enter-animation{
        animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) .5s 1 normal forwards running loginFormEnter;
    }

    .form-overlay{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        z-index: -1;
        display: none;
        perspective: 175em;

        .start-event-form-container{
            position: relative;
            max-width: 960px;
            width: 100%;
            height: 50%;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;
            background: rgba(50, 61, 109, 0.5);
            backdrop-filter: blur(40px);
            border: rgba(255, 255, 255, 0.219) .1px solid;
            border-radius: 20px;
            transition: 2s;
            transition-delay: .6s;
            opacity: 0;
            display: none;

            .message-container{
                position: absolute;
                bottom: 15px;

                #message{
                    font-family: 'Montserrat';
                    color: white;
                }
            }

            #start-event-form{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;

                .submit-button-container{

                    .start-event-form-button{
                        padding: 1em 8em;
                        background: linear-gradient(to left, rgb(255, 0, 140), purple);
                        outline: none;
                        border:none;
                        border-radius: 15px;
                        color: white;
                        box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
                        cursor: pointer;
                        transition: .2s;

                        &:hover{
                            box-shadow: none;
                        }
                    }
                }
                
            }

            h1{
                position: absolute;
                top: 15%;
                color: white;
                font-family:'Montserrat';
                font-size: 2.5rem;
            }

            .form-exit-button{
                position: absolute;
                right: -5px;
                top: -10px;
                cursor:pointer;
                background: none;
                outline:none;
                border:none;
                border-radius: 50px;
                padding: .8em 1em;
                background: rgba(255, 255, 255, 0.144);
                box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
                color: white;
                font-size: 1em;
                transition: .2s;

                &:hover{
                    background: rgba(255, 255, 255, 0.425);
                    padding: .9em 1.1em;
                }
            }
        }
    }

}

body{
    
    .site-container{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .events-container{
            height: 50vh;
            width: 100%;
            border-bottom: 1px solid black;

            .eventContainer {
                display: flex;
                flex-direction: row;
                width: 100%;
                font-family: 'Montserrat';
                font-weight: 500;
                opacity: 0;
                animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) .5s 1 normal forwards running eventEnter;

                .event{
                    margin-bottom: 5px;
                    perspective: 175em;
                    text-align: left;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    padding: 15px 0px;
                    padding-left: 20px;
                    list-style-position: inside;
                    border: 1px solid rgb(202, 202, 202);
                    border-radius: 20px;
                    width: 100%;
                    z-index: 5;
                    color: #7f87b7;
                }

                p{
                    text-align: center;
                    overflow: auto;
                }
            }

            .interact-buttons-container{
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                display: flex;
                flex-direction: row;
                justify-items: center;
                justify-content: space-evenly;
                align-items: center;
                transition: .6s;
                opacity: 0;

                .start-event-button{
                    background: #00ff73;
                    border: none;
                    height: 40px;
                    width: 120px;
                    border-radius: 10px;
                    transition: .2s;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    color: white;
    
                    &:hover{
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
                
                
                &:hover{
                    opacity: 1;
                    background: rgba(255, 255, 255, 0.493);
                    backdrop-filter: blur(50px);
                    cursor: pointer;
                }
            }

            ol{
                height: inherit;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }

        .map-container{
            height: 100vh;
            width: 100%;

            .animate{
                stroke-dasharray: 1920;
                stroke-dashoffset: 1920;
                animation: dash 20s linear 0s forwards;
                    
                @keyframes dash {
                    to {
                        stroke-dashoffset: 0;
                    }
                }
            }
            

            .leaflet-control-attribution{
                display: none;
            }

            #map{
                height:100%;
                width: 100%;
            }
        }
    }
}

@keyframes blurFormBackground{
    0%{
        backdrop-filter: blur(0px);
    }

    100%{
        backdrop-filter: blur(20px);
    }
}

@keyframes loginFormEnter{
    0%{
        transform: rotateX(-18deg);
        opacity: 0;
        margin-bottom: 60px;
        backdrop-filter: blur(0px);
        box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
    }

    100%{
        transform: rotateX(0);
        opacity: 1;
        margin-bottom: 0;
        backdrop-filter: blur(30px);
    }
}

@keyframes eventEnter{
    0%{
        filter: blur(2px);
        transform: rotateX(-18deg);
        opacity: 0;
        margin-bottom: 60px;
        backdrop-filter: blur(0px);
        box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
    }

    100%{
        filter: none;
        transform: rotateX(0);
        opacity: 1;
        margin-bottom: 0;
        z-index: 1;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');