@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
}

.hovering {
  opacity: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 100%;
  -webkit-transform: scale(3);
          transform: scale(3);
  background: rgba(252, 252, 252, 0.062);
}

.input-field {
  margin-bottom: 15px;
  outline: none;
  padding: 1em 1.8em;
  border: 1px rgba(255, 255, 255, 0.342) solid;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.151);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.input-field::-webkit-input-placeholder {
  color: #9798b1;
}

.input-field:-ms-input-placeholder {
  color: #9798b1;
}

.input-field::-ms-input-placeholder {
  color: #9798b1;
}

.input-field::placeholder {
  color: #9798b1;
}

.input-field:focus {
  background: rgba(20, 5, 61, 0.301);
  border-color: #ff008c;
  -webkit-box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
          box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
}

.report-input-field {
  margin-bottom: 15px;
  margin-left: 1.5em;
  outline: none;
  padding: 1.5em 2.3em;
  border: 1px rgba(255, 255, 255, 0.342) solid;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.151);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.report-input-field::-webkit-input-placeholder {
  color: #9798b1;
}

.report-input-field:-ms-input-placeholder {
  color: #9798b1;
}

.report-input-field::-ms-input-placeholder {
  color: #9798b1;
}

.report-input-field::placeholder {
  color: #9798b1;
}

.report-input-field:focus {
  background: rgba(20, 5, 61, 0.301);
  border-color: #ff008c;
  -webkit-box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
          box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.103);
  -webkit-box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  -webkit-transition: .3s;
  transition: .3s;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.562) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.562) 0px 0px 0px 0.5px inset;
  cursor: pointer;
}

h1 {
  position: absolute;
  top: 4%;
  color: white;
  font-family: 'Montserrat';
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  overflow-x: hidden;
  background: #17182d;
}

body .forms-overlay-container {
  position: absolute;
}

body .forms-overlay-container .form-bg-blur-animation {
  -webkit-animation: 0.8s ease 0s 1 normal forwards running blurFormBackground;
          animation: 0.8s ease 0s 1 normal forwards running blurFormBackground;
}

body .forms-overlay-container .form-enter-animation {
  -webkit-animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s 1 normal forwards running loginFormEnter;
          animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s 1 normal forwards running loginFormEnter;
}

body .forms-overlay-container .form-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: -1;
  display: 0;
  opacity: 0;
  -webkit-perspective: 175em;
          perspective: 175em;
}

body .forms-overlay-container .form-overlay .log-in-form-container {
  position: relative;
  max-width: 960px;
  width: 100%;
  height: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: rgba(50, 61, 109, 0.5);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border: rgba(255, 255, 255, 0.219) 0.1px solid;
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

body .forms-overlay-container .form-overlay .log-in-form-container .message-container {
  position: absolute;
  bottom: 15px;
}

body .forms-overlay-container .form-overlay .log-in-form-container .message-container #message {
  font-family: 'Montserrat';
  color: white;
}

body .forms-overlay-container .form-overlay .log-in-form-container #log-in-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

body .forms-overlay-container .form-overlay .log-in-form-container #log-in-form .submit-button-container .submit-login {
  padding: 1em 8em;
  background: -webkit-gradient(linear, right top, left top, from(#ff008c), to(purple));
  background: linear-gradient(to left, #ff008c, purple);
  outline: none;
  border: none;
  border-radius: 15px;
  color: white;
  -webkit-box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
          box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

body .forms-overlay-container .form-overlay .log-in-form-container #log-in-form .submit-button-container .submit-login:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .forms-overlay-container .form-overlay .log-in-form-container h1 {
  position: absolute;
  top: 15%;
  color: white;
  font-family: 'Montserrat';
  font-size: 2.5rem;
}

body .forms-overlay-container .form-overlay .log-in-form-container .form-exit-button {
  position: absolute;
  right: -5px;
  top: -10px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: .8em 1em;
  background: rgba(255, 255, 255, 0.144);
  -webkit-box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
  color: white;
  font-size: 1em;
  -webkit-transition: .2s;
  transition: .2s;
}

body .forms-overlay-container .form-overlay .log-in-form-container .form-exit-button:hover {
  background: rgba(255, 255, 255, 0.425);
  padding: .9em 1.1em;
}

body .forms-overlay-container .form-overlay .report-form-container {
  position: relative;
  max-width: 1260px;
  width: 100%;
  height: 70%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: rgba(50, 61, 109, 0.5);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border: rgba(255, 255, 255, 0.219) 0.1px solid;
  border-radius: 20px;
  opacity: 0;
  display: none;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

body .forms-overlay-container .form-overlay .report-form-container #mapid {
  height: 100%;
  width: inherit;
  position: absolute;
  display: none;
  zoom: 100%;
  border-radius: 20px;
}

body .forms-overlay-container .form-overlay .report-form-container #mapid .leaflet-control-attribution {
  display: none;
}

body .forms-overlay-container .form-overlay .report-form-container #mapid .leaflet-popup-content-wrapper {
  background: #2c3e50;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

body .forms-overlay-container .form-overlay .report-form-container #mapid .leaflet-popup-content-wrapper a {
  color: rgba(255, 255, 255, 0.5);
}

body .forms-overlay-container .form-overlay .report-form-container #mapid .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

body .forms-overlay-container .form-overlay .report-form-container #mapid .leaflet-popup-tip {
  background: #2c3e50;
}

body .forms-overlay-container .form-overlay .report-form-container .map-exit-button {
  display: none;
  position: absolute;
  top: 100%;
  left: 38%;
  background: none;
  border: none;
  outline: none;
  padding: .5em 1em;
  font-size: 2em;
  text-align: center;
  color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
  cursor: pointer;
  border-radius: 20px;
  width: 10em;
  background: rgba(50, 61, 109, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transition: all .20s;
  transition: all .20s;
}

body .forms-overlay-container .form-overlay .report-form-container .map-exit-button:hover {
  margin-bottom: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
}

body .forms-overlay-container .form-overlay .report-form-container #report-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-top: 4em;
}

body .forms-overlay-container .form-overlay .report-form-container #report-form .submit-button-container .submit-report {
  padding: 1.6em 8em;
  background: -webkit-gradient(linear, right top, left top, from(#ff008c), to(purple));
  background: linear-gradient(to left, #ff008c, purple);
  outline: none;
  border: none;
  border-radius: 15px;
  color: white;
  -webkit-box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
          box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  margin-top: 2em;
}

body .forms-overlay-container .form-overlay .report-form-container #report-form .submit-button-container .submit-report:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .forms-overlay-container .form-overlay .report-form-container .names-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1em;
}

body .forms-overlay-container .form-overlay .report-form-container .names-field:nth-child(1) {
  margin-right: 1em;
}

body .forms-overlay-container .form-overlay .report-form-container .location-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1em;
}

body .forms-overlay-container .form-overlay .report-form-container .location-field #phone-number {
  margin-right: 1.6em;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

body .forms-overlay-container .form-overlay .report-form-container .location-field .location-input {
  margin-right: 1em;
}

body .forms-overlay-container .form-overlay .report-form-container .location-field .location-text {
  color: white;
  text-align: center;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .2em;
}

body .forms-overlay-container .form-overlay .report-form-container .location-field .location-button {
  padding: 1.5em 3.2em;
  height: 100%;
  background: #612661;
  outline: none;
  border: none;
  border-radius: 15px;
  color: white;
  -webkit-box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
          box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: .9em;
}

body .forms-overlay-container .form-overlay .report-form-container .location-field .location-button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .forms-overlay-container .form-overlay .report-form-container .description-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .forms-overlay-container .form-overlay .report-form-container .description-field .description {
  outline: none;
  padding: 1em 1.8em;
  border: 1px rgba(255, 255, 255, 0.342) solid;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.151);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
  resize: none;
  margin-bottom: 1em;
  font-family: 'Montserrat';
}

body .forms-overlay-container .form-overlay .report-form-container .description-field .description::-webkit-input-placeholder {
  color: #9798b1;
}

body .forms-overlay-container .form-overlay .report-form-container .description-field .description:-ms-input-placeholder {
  color: #9798b1;
}

body .forms-overlay-container .form-overlay .report-form-container .description-field .description::-ms-input-placeholder {
  color: #9798b1;
}

body .forms-overlay-container .form-overlay .report-form-container .description-field .description::placeholder {
  color: #9798b1;
}

body .forms-overlay-container .form-overlay .report-form-container .description-field .description:focus {
  background: rgba(20, 5, 61, 0.301);
  border-color: #ff008c;
  -webkit-box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
          box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
}

body .forms-overlay-container .form-overlay .report-form-container .type-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4ex;
}

body .forms-overlay-container .form-overlay .report-form-container .type-field input[type="radio"] {
  display: none;
}

body .forms-overlay-container .form-overlay .report-form-container .type-field input[type="radio"]:checked + label {
  background-color: #612661;
  color: white;
}

body .forms-overlay-container .form-overlay .report-form-container .type-field label {
  color: #612661;
  font-family: 'Montserrat';
  font-size: 1.5em;
  border: 2px solid #612661;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

body .forms-overlay-container .form-overlay .report-form-container .type-field label:nth-child(2) {
  margin-right: 1em;
}

body .forms-overlay-container .form-overlay .report-form-container .type-field label:nth-child(4) {
  margin-right: 1em;
}

body .forms-overlay-container .form-overlay .report-form-exit-button {
  position: absolute;
  right: -5px;
  top: -10px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: .8em 1em;
  background: rgba(255, 255, 255, 0.144);
  -webkit-box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
  color: white;
  font-size: 1em;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 1000;
}

body .forms-overlay-container .form-overlay .report-form-exit-button:hover {
  background: rgba(255, 255, 255, 0.425);
  padding: .9em 1.1em;
}

body .cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  pointer-events: none;
  z-index: 5;
}

body .navbar {
  color: #b6b6b6;
  font-family: 'Montserrat', sans-serif;
  z-index: 5;
}

body .navbar .dashboard {
  display: none;
  z-index: 5;
}

body .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

body .navbar ul #logo {
  padding-left: 25px;
  padding-right: 5%;
  z-index: 5;
}

body .navbar ul .login-button-container {
  list-style: none;
  padding: 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

body .navbar ul .login-button-container a {
  color: #b6b6b6;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
  z-index: 2;
  display: none;
  z-index: 5;
}

body .navbar ul .login-button-container a:visited {
  color: #b6b6b6;
}

body .navbar ul .login-button-container a:hover {
  color: white;
}

body .navbar ul .login-button-container .login-button {
  background: none;
  border: none;
  outline: none;
  padding: .2em .5em;
  font-size: 1.5em;
  text-align: center;
  color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
  cursor: pointer;
  border-radius: 20px;
  width: 5em;
  background: rgba(50, 61, 109, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transition: all .20s;
  transition: all .20s;
  z-index: 5;
}

body .navbar ul .login-button-container .login-button:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
}

body .navbar ul .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 5;
}

body .navbar ul .links li {
  list-style: none;
  padding: 25px 25px;
  z-index: 5;
}

body .navbar ul .links li a {
  color: #b6b6b6;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
  z-index: 5;
}

body .navbar ul .links li a:visited {
  color: #b6b6b6;
}

body .navbar ul .links li a:hover {
  color: white;
}

body #home .art-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

body #home .art-container .background {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

body #home .art-container .background img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

body #home .art-container .midground {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

body #home .art-container .midground img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

body #home .art-container .foreground {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}

body #home .art-container .foreground img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

body #home .art-container .foreground #foreground-first-field {
  bottom: -110%;
}

body #home .report-button-container {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

body #home .report-button-container .report-button {
  background: none;
  border: none;
  outline: none;
  padding: .5em 1em;
  font-size: 2em;
  text-align: center;
  color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
  cursor: pointer;
  border-radius: 20px;
  width: 10em;
  background: rgba(50, 61, 109, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transition: all .20s;
  transition: all .20s;
  z-index: 4;
}

body #home .report-button-container .report-button:hover {
  margin-bottom: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
}

body #info .info-text {
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: lighter;
}

body #info .chart-container-container {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #info .chart-container-container .chart-container {
  height: 70%;
  width: 80%;
}

body #info .chart-container-container .chart-container #chart {
  width: 100%;
}

body #team .team-text {
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: lighter;
  margin-top: 5em;
}

body #team .team-cards-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 80%;
}

body #team .team-cards-container .card-exit-button {
  position: absolute;
  right: -100px;
  top: -15px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: .6em .8em;
  background: rgba(255, 255, 255, 0.144);
  -webkit-box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
  color: white;
  font-size: 1em;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 1000;
  display: none;
}

body #team .team-cards-container .card-exit-button:hover {
  background: rgba(255, 255, 255, 0.425);
  padding: .9em 1.1em;
}

body #team .team-cards-container .card-wrapper-hover {
  -webkit-transform: rotateX(11deg) rotateY(-44deg);
          transform: rotateX(11deg) rotateY(-44deg);
}

body #team .team-cards-container .team-card {
  position: absolute;
  top: 15px;
  width: 355px;
  height: 220px;
  border-radius: 35px;
  border: 1px rgba(255, 255, 255, 0.342) solid;
  -webkit-transition: all 1s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
  transition: all 1s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}

body #team .team-cards-container .team-card h1 {
  position: absolute;
  top: 8%;
  right: 6%;
  font-size: 22px;
  font-weight: 400;
}

body #team .team-cards-container .team-card .card-about-text {
  position: absolute;
  top: 50%;
  left: 0%;
  display: none;
}

body #team .team-cards-container .cards-parent-element {
  position: absolute;
  left: 30%;
  width: 700px;
  height: 300px;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transition: all 1s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
  transition: all 1s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}

body #team .team-cards-container .frontend-card {
  top: 0;
  left: 0;
  z-index: 4;
  background: -webkit-gradient(linear, left top, left bottom, from(#4ccfd6), to(#6a45e0));
  background: linear-gradient(#4ccfd6 0%, #6a45e0 100%);
}

body #team .team-cards-container .designer-card {
  top: 20px;
  left: 200px;
  z-index: 3;
  background: radial-gradient(100% 128.38% at 100% 100%, rgba(51, 168, 253, 0.2) 0%, rgba(76, 0, 200, 0.2) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

body #team .team-cards-container .backend-card {
  top: 40px;
  left: 280px;
  z-index: 2;
  background: radial-gradient(100% 128.38% at 100% 100%, rgba(51, 168, 253, 0.2) 0%, rgba(76, 0, 200, 0.2) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

body #team .team-cards-container .scrum-card {
  top: 60px;
  left: 310px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#4ccfd6), to(#6a45e0));
  background: linear-gradient(#4ccfd6 0%, #6a45e0 100%);
}

body #team .team-cards-container .card-hover {
  top: -20px;
  cursor: pointer;
}

body #team .team-cards-container .card-selected {
  position: relative;
  width: 800px;
  height: 400px;
  left: 1%;
  z-index: 15;
}

body #footer {
  height: 20vh;
}

body #footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #footer .links .legals {
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  padding: .2em .5em;
  font-size: 1.5em;
  text-align: center;
  color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
  cursor: pointer;
  border-radius: 20px;
  width: 5em;
  background: rgba(50, 61, 109, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transition: all .20s;
  transition: all .20s;
  z-index: 5;
}

body #footer .links .legals:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
}

body #footer .links .documentation {
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  padding: .2em .5em;
  font-size: 1.5em;
  text-align: center;
  color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
  cursor: pointer;
  border-radius: 20px;
  width: 5em;
  background: rgba(50, 61, 109, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transition: all .20s;
  transition: all .20s;
  z-index: 5;
  width: 40vh;
}

body #footer .links .documentation:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
}

body #footer .links .contact {
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  padding: .2em .5em;
  font-size: 1.5em;
  text-align: center;
  color: white;
  -webkit-box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
  cursor: pointer;
  border-radius: 20px;
  width: 5em;
  background: rgba(50, 61, 109, 0.5);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transition: all .20s;
  transition: all .20s;
  z-index: 5;
}

body #footer .links .contact:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
          box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
}

@-webkit-keyframes blurFormBackground {
  0% {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}

@keyframes blurFormBackground {
  0% {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}

@-webkit-keyframes loginFormEnter {
  0% {
    -webkit-transform: rotateX(-18deg);
            transform: rotateX(-18deg);
    opacity: 0;
    margin-bottom: 60px;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    -webkit-box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
            box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
    margin-bottom: 0;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
  }
}

@keyframes loginFormEnter {
  0% {
    -webkit-transform: rotateX(-18deg);
            transform: rotateX(-18deg);
    opacity: 0;
    margin-bottom: 60px;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    -webkit-box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
            box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
    margin-bottom: 0;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
  }
}
/*# sourceMappingURL=style.css.map */