*{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
}

.hovering{
    opacity: 0;
    transform:translate(-50%, 50%);
    transform:scale(0);
    opacity: 100%;
    transform:scale(3);
    background: rgba(252, 252, 252, 0.062);
}

.error{
    color: red;
}

.input-field{
    margin-bottom: 15px;
    outline:none;
    padding: 1em 1.8em;
    border: 1px rgba(255, 255, 255, 0.342) solid;
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(20px);
    color:white;
    transition: .2s;

    &::placeholder{
        color:#9798b1;
    }

    &:focus{
        background:rgba(20, 5, 61, 0.301);
        border-color:rgb(255, 0, 140);
        box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px ;
    }
}

.report-input-field{
    margin-bottom: 15px;
    margin-left: 1.5em;
    outline:none;
    padding: 1.5em 2.3em;
    border: 1px rgba(255, 255, 255, 0.342) solid;
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(20px);
    color:white;
    transition: .2s;

    &::placeholder{
        color:#9798b1;
    }

    &:focus{
        background:rgba(20, 5, 61, 0.301);
        border-color:rgb(255, 0, 140);
        box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px ;
    }
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.103);
    box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
    border-radius: 15px;
    backdrop-filter: blur(40px);
    transition: .3s;

    &:hover{
        box-shadow: rgba(255, 255, 255, 0.562) 0px 0px 0px 0.5px inset;
        cursor:pointer;
    }
}

body{
    overflow-x: hidden;
    background: #17182d;

    
    .cursor{
        position:fixed;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: 0.1s;
        pointer-events: none;
        z-index: 1;
    }


    .forms-overlay-container{

        position: absolute;

        .form-bg-blur-animation{
            animation: 0.8s ease 0s 1 normal forwards running blurFormBackground;
        }

        .form-enter-animation{
            animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) .5s 1 normal forwards running loginFormEnter;
        }

        .form-overlay{
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(20px);
            z-index: -1;
            display: 0;
            opacity: 0;
            perspective: 175em;
    
            .log-in-form-container{
                position: relative;
                max-width: 960px;
                width: 100%;
                height: 50%;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-items: center;
                background: rgba(50, 61, 109, 0.5);
                backdrop-filter: blur(40px);
                border: rgba(255, 255, 255, 0.219) .1px solid;
                border-radius: 20px;
                opacity: 0;
                transition: 2s;
                transition-delay: .6s;

                #log-in-form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80%;

                    .submit-button-container{

                        .submit-login{
                            padding: 1em 8em;
                            background: linear-gradient(to left, rgb(255, 0, 140), purple);
                            outline: none;
                            border:none;
                            border-radius: 15px;
                            color: white;
                            box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
                            cursor: pointer;
                            transition: .2s;

                            &:hover{
                                box-shadow: none;
                            }
                        }
                    }
                    
                }

                h1{
                    position: absolute;
                    top: 15%;
                    color: white;
                    font-family:'Montserrat';
                    font-size: 2.5rem;
                }

                .form-exit-button{
                    position: absolute;
                    right: -5px;
                    top: -10px;
                    cursor:pointer;
                    background: none;
                    outline:none;
                    border:none;
                    border-radius: 50px;
                    padding: .8em 1em;
                    background: rgba(255, 255, 255, 0.144);
                    box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
                    color: white;
                    font-size: 1em;
                    transition: .2s;

                    &:hover{
                        background: rgba(255, 255, 255, 0.425);
                        padding: .9em 1.1em;
                    }
                }
            }

            .report-form-container{
                position: relative;
                max-width: 1260px;
                width: 100%;
                height: 70%;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-items: center;
                background: rgba(50, 61, 109, 0.5);
                backdrop-filter: blur(40px);
                border: rgba(255, 255, 255, 0.219) .1px solid;
                border-radius: 20px;
                opacity: 0;
                display: none;
                transition: 2s;
                transition-delay: .6s;
                
                #mapid { 
                    height: 100%;
                    width: inherit;
                    position: absolute;
                    display: none;
                    zoom: 100%;
                    border-radius: 20px;
        
                .leaflet-popup-content-wrapper {
                background:#2c3e50;
                color:#fff;
                font-size:16px;
                line-height:24px;
                }
                .leaflet-popup-content-wrapper a {
                color:rgba(255,255,255,0.5);
                }
                .leaflet-popup-tip-container {
                width:30px;
                height:15px;
                }
                .leaflet-popup-tip {
                background:#2c3e50;
                }
            }

                #report-form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80%;
                    margin-top: 4em;


                    .submit-button-container{
                        
                        .submit-report{
                            padding: 1.6em 8em;
                            background: linear-gradient(to left, rgb(255, 0, 140), purple);
                            outline: none;
                            border:none;
                            border-radius: 15px;
                            color: white;
                            box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
                            cursor: pointer;
                            transition: .2s;
                            margin-top: 2em;

                            &:hover{
                                box-shadow: none;
                            }
                        }
                    }
                    
                }

                .names-field{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: 1em;

                    &:nth-child(1){
                        margin-right: 1em;
                    }
                }

                .location-field{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    margin-bottom: 1em;

                    .telephone{
                        margin-right: 1.6em;
                    }

                    .location-input{
                        margin-right: 1em;
                    }

                    .location-text{
                        color: white;
                        text-align: center;
                        font-size: 2em;
                        display: flex;
                        margin-top: .2em;
                    }

                    .location-button{
                        padding: 1.5em 3.2em;
                        height: 100%;
                        background: rgb(97, 38, 97);
                        outline: none;
                        border:none;
                        border-radius: 15px;
                        color: white;
                        box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
                        cursor: pointer;
                        transition: .2s;
                        font-size: .9em;

                        &:hover{
                            box-shadow: none;
                        }

                    }
                }

                .description-field{
                    display: flex;
                    flex-direction: row;

                    .description{
                        outline:none;
                        padding: 1em 1.8em;
                        border: 1px rgba(255, 255, 255, 0.342) solid;
                        border-radius: 15px;
                        background:rgba(255, 255, 255, 0.151);
                        backdrop-filter: blur(20px);
                        color:white;
                        transition: .2s;
                        resize: none;
                        margin-bottom: 1em;
                        font-family: 'Montserrat';

                        &::placeholder{
                            color:#9798b1;
                        }

                        &:focus{
                            background:rgba(20, 5, 61, 0.301);
                            border-color:rgb(255, 0, 140);
                            box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px ;
                        }
                    }
                }

                .type-field{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 4ex;

                    .fire-button{
                        padding: 1em 2em;
                        background: rgb(97, 38, 97);
                        outline: none;
                        border:none;
                        border-radius: 15px;
                        color: white;
                        box-shadow: rgba(255, 0, 140, 0.349) 0px 0px 15px 0.5px;
                        cursor: pointer;
                        transition: .2s;
                        font-size: 1.0em;

                        &:hover{
                            box-shadow: none;
                        }
                    }

                    .small{
                        margin-right: 1em;
                    }

                    .medium{
                        margin-right: 1em;
                    }
                }
            }

                h1{
                    position: absolute;
                    top: 4%;
                    color: white;
                    font-family:'Montserrat';
                    font-size: 2.5rem;
                    display: flex;
                }

                .report-form-exit-button{
                    position: absolute;
                    right: -5px;
                    top: -10px;
                    cursor:pointer;
                    background: none;
                    outline:none;
                    border:none;
                    border-radius: 50px;
                    padding: .8em 1em;
                    background: rgba(255, 255, 255, 0.144);
                    box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
                    color: white;
                    font-size: 1em;
                    transition: .2s;

                    &:hover{
                        background: rgba(255, 255, 255, 0.425);
                        padding: .9em 1.1em;
                    }
                }
            }
        }
    }
        .navbar{
            color: rgb(182, 182, 182);
            font-family: 'Montserrat', sans-serif;
            
            .dashboard{
                display: none;
            }
            
            ul{
                display: flex;
                flex-direction: row;

                #logo{
                    width:50%;
                    margin-left: 5rem;
                }

                .links{
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    text-align: right;
                    justify-content: flex-end;
                    margin-right: 5rem;
                    
                    
                    li{
                        list-style: none;
                        padding: 25px 25px;

                        a{                        
                            color:rgb(182, 182, 182);   
                            text-decoration: none;
                            transition: color .3s;
                            z-index: 2;
                            
                            &:visited{
                                color:rgb(182, 182, 182);
                            }

                            &:hover{
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        #home{
            .report-button-container{
                height: 50vh;
                display: flex;
                justify-content: center;
                align-items: center;

                .report-button{
                    background: none;
                    border:none;
                    outline: none;
                    padding: .5em 1em;
                    font-size: 2em;
                    text-align: center;
                    color: white;
                    box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
                    cursor: pointer;
                    border-radius: 20px;
                    width: 10em;
                    background: rgba(50, 61, 109, 0.5);
                    backdrop-filter: blur(30px);
                    transition: all .20s;
        
                    &:hover{
                        margin-bottom: 6px;
                        box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
                    }
                }
            }
        }

        #footer{

            .login-button-container{
                height: 90vh;
                display: flex;
                justify-content: center;
                align-items: center;

                .login-button{
                    background: none;
                    border:none;
                    outline: none;
                    padding: .5em 1em;
                    font-size: 2em;
                    text-align: center;
                    color: white;
                    box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
                    cursor: pointer;
                    border-radius: 20px;
                    width: 10em;
                    background: rgba(50, 61, 109, 0.5);
                    backdrop-filter: blur(30px);
                    transition: all .20s;
        
                    &:hover{
                        margin-bottom: 6px;
                        box-shadow: rgba(255, 255, 255, 0.705) 0px 0px 0px 0.5px inset;
                    }
                }
            }
        }


    @keyframes blurFormBackground{
        0%{
            backdrop-filter: blur(0px);
        }

        100%{
            backdrop-filter: blur(20px);
        }
    }

    @keyframes loginFormEnter{
        0%{
            transform: rotateX(-18deg);
            opacity: 0;
            margin-bottom: 60px;
            backdrop-filter: blur(0px);
            box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
        }

        100%{
            transform: rotateX(0);
            opacity: 1;
            margin-bottom: 0;
            backdrop-filter: blur(30px);
        }
    }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap')